---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import VideoBanner from "../components/VideoBanner.astro";
import ProductSection from "../components/ProductSection.astro";
import TextImageBlock from "../components/TextImageBlock.astro";
import InstagramFeed from "../components/InstagramFeed.astro";
---

<Layout>
  <HeroSection />

  <h2>Kollektion er en tribute til denne tid.</h2>
  <h2>Upcycled tøj skabt af bæredygtige materialer.</h2>

  <VideoBanner />

  <section id="kollektion">
    <ProductSection />
  </section>

  <TextImageBlock />

  <InstagramFeed />
</Layout>

<style>
  h2 {
    text-align: center;
    line-height: 15px;
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 15px;
    }
  }
</style>
