<header>
  <div class="top-row">
    <nav class="nav-left">
      <a href="#">Stories</a>
      <a href="#">Hvorfor vælge Pleasant?</a>
      <a href="#">Gensalg</a>
      <a href="#">Styleguide</a>
      <a href="#">Forhandlere</a>
    </nav>

    <div class="logo">
      <img
        src="//pleasant.dk/cdn/shop/files/pleasant_logo_22488a6e-43b5-45ec-af04-b902170d456b.png?v=1614306557&width=320"
        alt="Pleasant logo"
        class="footer-logo"
      />
    </div>

    <ul class="social-icons">
      <li>
        <a
          href="https://www.facebook.com/makelifepleasant"
          title="Pleasant på Facebook"
          target="_blank"
          rel="noopener"
        >
          <span class="icon icon-facebook">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12,2C6.477,2,2,6.477,2,12c0,5.013,3.693,9.153,8.505,9.876V14.65H8.031v-2.629h2.474v-1.749 
                  c0-2.896,1.411-4.167,3.818-4.167c1.153,0,1.762,0.085,2.051,0.124v2.294h-1.642
                  c-1.022,0-1.379,0.969-1.379,2.061v1.437h2.995l-0.406,2.629h-2.588v7.247C18.235,21.236,22,17.062,22,12C22,6.477,17.523,2,12,2z"
                fill="currentColor"></path>
            </svg>
          </span>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/makelifepleasant/"
          title="Pleasant på Instagram"
          target="_blank"
          rel="noopener"
        >
          <span class="icon icon-instagram">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2
                  M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6
                  M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5
                  M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"
                fill="currentColor"></path>
            </svg>
          </span>
        </a>
      </li>
      <li>
        <a
          href="https://www.tiktok.com/@makelifepleasant"
          title="Pleasant på Tiktok"
          target="_blank"
          rel="noopener"
        >
          <span class="icon icon-tiktok">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16.16 1.35c.35 3 2 4.83 5 5v3.4a7.79 7.79 0 0 1-4.92-1.44v6.36c0 8.07-8.8 10.59-12.34 4.81
                  C1.59 15.77 3 9.24 10.28 9v3.59a11.24 11.24 0 0 0-1.69.41c-1.62.55-2.54 1.58-2.29 3.4.49 3.47 6.87 4.5 
                  6.34-2.29V1.36h3.52z"
                fill="currentColor"></path>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="bottom-row">
    <div class="bottom-content">
      <div class="left-icons">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.048 17.89a6.923 6.923 0 1 0 0-13.847 6.923 6.923 0 0 0 0 13.847z"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-miterlimit="10"
            stroke-linecap="round"></path>
          <path
            d="m16 16 4.308 4.308"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-miterlimit="10"></path>
        </svg>
      </div>

      <nav class="categories">
        <a href="#">Kasketter</a>
        <a href="#">Tøj</a>
        <a href="#">Livsstil</a>
        <a href="#">Drops</a>
      </nav>

      <div class="right-icons">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 12.413a4.358 4.358 0 1 0 0-8.715 4.358 4.358 0 0 0 0 8.715zM3.488 20.857c0-3.085 1.594-5.61 5.26-5.61h6.503c3.667 0 5.261 2.525 5.261 5.61"
            stroke="currentColor"
            stroke-width="1.2"
            stroke-miterlimit="10"></path>
        </svg>

        <div class="cart">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.148 11.479c-.101-1.428-.125-2.985-.296-4.57C15.577 4.37 14.372 2.64 12 2.64S8.423 4.37 8.148 6.908c-.171 1.586-.195 3.142-.296 4.57"
              stroke="currentColor"
              stroke-width="1.2"
              stroke-miterlimit="10"
              stroke-linejoin="bevel"></path>
            <path
              d="M20.701 20.438V8.816H3.3v11.622H20.7z"
              stroke="currentColor"
              stroke-width="1.2"
              stroke-miterlimit="10"></path>
          </svg>
          <span class="cart-count">0</span>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    background-color: #f3f0e8;
    font-family: sans-serif;
    color: black;
  }

  .top-row,
  .bottom-row {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .nav-left a {
    font-size: 0.7rem;
    margin-right: 20px;
    text-decoration: none;
    color: black;
  }
  .categories a {
    margin-top: 5em;
    font-size: 0.9rem;
    margin-right: 20px;
    text-decoration: none;
    color: black;
  }

  .nav-left a:last-child,
  .categories a:last-child {
    margin-right: 0;
  }

  .nav-left a:hover,
  .categories a:hover {
    text-decoration: underline;
  }

  .logo {
    margin-top: 2.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .logo img {
    height: 40px;
  }

  .social-icons {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .social-icons li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    color: black;
    text-decoration: none;
  }

  .social-icons svg {
    width: 20px;
    height: 20px;
    display: block;
  }

  .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .categories {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
  }

  .categories a {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
  }

  .categories a:hover {
    text-decoration: underline;
  }

  .left-icons,
  .right-icons {
    display: flex;
    gap: 10px;
    margin-right: -20px;
  }

  .left-icons svg,
  .right-icons svg {
    width: 30px;
    height: 30px;
    stroke: currentColor;
    color: black;
  }

  .cart {
    position: relative;
  }

  .cart-count {
    position: absolute;
    top: 17px;
    right: 22px;
    background-color: black;
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
