---
const { product } = Astro.props;
---

<a href={"product/" + product.slug}>
  <article>
    <img src={"img/" + product.image} alt={product.name} />
    <p>{product.name}</p>
    <p>{product.price} DKK</p>
  </article>
</a>
