---
import Pcard from "../components/Pcard.astro";

const curl =
  "https://vpfqjmzjywfkgiwoqdlh.supabase.co/rest/v1/products?select=*";
const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwZnFqbXpqeXdma2dpd29xZGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNzU1NzQsImV4cCI6MjA1OTg1MTU3NH0.bvvGDiKCL92VdcFupo0Ck3gmQyGanj9ozGVJ8KJsmmA";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<h3>Favoritter fra kollektionen</h3>

<div class="collection-header">
  <h4>Skjorter</h4>
  <a href="#">Se hele kollektionen →</a>
</div>

<section>
  {data.map((product) => product.category == "skjorte" && <Pcard {product} />)}
</section>

<div class="collection-header">
  <h4>Kasketter</h4>
  <a href="#">Se hele kollektionen →</a>
</div>

<section>
  {data.map((product) => product.category == "Kasket" && <Pcard {product} />)}
</section>

<div class="collection-header">
  <h4>Hoodies</h4>
  <a href="#">Se hele kollektionen →</a>
</div>

<section>
  {data.map((product) => product.category == "Hoodie" && <Pcard {product} />)}
</section>

<style>
  .collection-header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
  }

  .collection-header a {
    text-decoration: none;
    color: black;
  }

  .collection-header a:hover {
    text-decoration: underline;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 50px;
    margin-bottom: 30px;
    text-align: center;
  }
</style>
