---
import Pcard from "../components/Pcard.astro";

const curl =
  "https://vpfqjmzjywfkgiwoqdlh.supabase.co/rest/v1/products?select=*";
const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwZnFqbXpqeXdma2dpd29xZGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNzU1NzQsImV4cCI6MjA1OTg1MTU3NH0.bvvGDiKCL92VdcFupo0Ck3gmQyGanj9ozGVJ8KJsmmA";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<div class="product-block">
  <h3>Favoritter fra kollektionen</h3>

  <div class="collection">
    <h4>Skjorter</h4>
    <a href="#"
      >Se hele kollektionen
      <img src="/img/pil.svg" alt="pil" class="pil" />
    </a>
  </div>
  <section>
    {
      data.map(
        (product) => product.category == "skjorte" && <Pcard {product} />
      )
    }
  </section>

  <div class="collection">
    <h4>Kasketter</h4>
    <a href="#"
      >Se hele kollektionen
      <img src="/img/pil.svg" alt="pil" class="pil" />
    </a>
  </div>
  <section>
    {data.map((product) => product.category == "Kasket" && <Pcard {product} />)}
  </section>

  <div class="collection">
    <h4>Hoodies</h4>
    <a href="#"
      >Se hele kollektionen
      <img src="/img/pil.svg" alt="pil" class="pil" />
    </a>
  </div>
  <section>
    {data.map((product) => product.category == "Hoodie" && <Pcard {product} />)}
  </section>
</div>

<style>
  .product-block h3 {
    font-size: 2.5rem;
    margin-top: -10px;
    margin-bottom: 25px;
  }

  .collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .collection h4 {
    font-size: 1.8rem;
    margin: 0;
  }

  .collection a {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }

  .collection a img.pil {
    width: 15px;
    height: auto;
    transition: transform 0.2s ease;
  }

  .collection a:hover img.pil {
    transform: translateX(4px);
  }

  .product-block {
    margin: 5%;
  }

  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    section {
      display: flex;
      overflow-x: auto;
      gap: 18px;
      padding-bottom: 10px;
    }
  }
</style>
