---
import Pcard from "../components/Pcard.astro";

const curl =
  "https://vpfqjmzjywfkgiwoqdlh.supabase.co/rest/v1/products?select=*";
const apikey =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwZnFqbXpqeXdma2dpd29xZGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNzU1NzQsImV4cCI6MjA1OTg1MTU3NH0.bvvGDiKCL92VdcFupo0Ck3gmQyGanj9ozGVJ8KJsmmA";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<h3>Favoritter fra kollektionen</h3>
<h4>Skjorter</h4>
<section>
  {data.map((product) => product.category == "skjorte" && <Pcard {product} />)}
</section>

<h4>Kasketter</h4>
<section>
  {data.map((product) => product.category == "Kasket" && <Pcard {product} />)}
</section>

<h4>Hoodie her</h4>
<section>
  {data.map((product) => product.category == "Hoodie" && <Pcard {product} />)}
</section>
