<section class="summer-lookbook">
  <div class="mobile-green-background"></div>
  <div class="summer-lookbook__container">
    <div class="summer-lookbook__left">
      <div class="summer-lookbook__text">
        <h2>Skabt til sommerdage</h2>
        <p>
          Sol på brosten, grin i gaderne og venner ved din side. Vores
          sommerlookbook fejrer fællesskab, byliv og tøj skabt med omtanke.
          Bæredygtigt, ægte og klar til at blive levet i.
        </p>
      </div>
      <div class="summer-lookbook__image-wrapper">
        <div class="summer-lookbook__image summer-lookbook__image--left">
          <img src="../../img/fletningpige.webp" alt="Model med fletninger" />
        </div>
      </div>
    </div>

    <div class="summer-lookbook__right">
      <div class="summer-lookbook__image-wrapper-right">
        <div class="summer-lookbook__image summer-lookbook__image--top">
          <img
            src="../../img/ismand.webp"
            alt="Mand med is"
            class="ice-cream-man"
          />
          <img
            class="summer-lookbook__badge"
            src="//pleasant.dk/cdn/shop/files/Pleasant-upcycled-badge.svg?v=1705424891&width=320"
            alt="Pleasant badge"
          />
        </div>
      </div>

      <div class="summer-lookbook__image summer-lookbook__image--bottom">
        <div class="summer-lookbook__background"></div>
        <img src="../../img/kasketmand.webp" alt="Mand med ryg til" />
      </div>
    </div>
  </div>
</section>

<style>
  .summer-lookbook {
    width: 100%;
  }

  .summer-lookbook__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .summer-lookbook__left,
  .summer-lookbook__right {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .summer-lookbook__text {
    position: relative;
    z-index: 1;
    background-color: #89beac;
    padding: 2rem 2.5rem 20rem 10%;
    margin-right: 20px;
    overflow: visible;
  }

  .summer-lookbook__text h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .summer-lookbook__text p {
    line-height: 1.8;
  }

  .summer-lookbook__image-wrapper {
    position: relative;
    overflow: visible;
    margin-top: -200px;
    margin-left: 15%;
    z-index: 2;
  }

  .summer-lookbook__image--left img {
    max-width: 450px;
    height: auto;
    display: block;
  }

  /* Højre side */

  /* Højre øverset del */
  .summer-lookbook__image-wrapper-right {
    position: relative;
    margin: 0 auto; /* Centrerer billedet */
    padding-top: 5rem; /* Lidt luft i toppen */
  }

  .summer-lookbook__badge {
    position: absolute;
    width: 190px;
    left: -68px;
    bottom: -66px;
    z-index: 3;
  }

  /* Højre nederste del */
  .summer-lookbook__image--bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem 0;
  }

  .summer-lookbook__background {
    position: absolute;
    background-color: #e9c5d2;
    width: 130%;
    height: 60%;
    left: -30%;
    top: 108px;
  }

  .summer-lookbook__image--bottom img {
    position: relative;
    z-index: 2;
  }

  /* Mobile */
  @media screen and (max-width: 929px) {
    body {
      overflow-x: hidden;
    }
    /* Grøn baggrund */
    .mobile-green-background {
      position: absolute;
      width: 100%;
      height: 950px;
      background-color: #89beac;
    }

    .summer-lookbook__container {
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    .summer-lookbook__text {
      padding: 5%;
    }

    .summer-lookbook__image-wrapper {
      display: none;
    }

    /* Ismand placeret til højre */
    .summer-lookbook__image-wrapper-right {
      padding-left: 100px;
    }

    .ice-cream-man {
      max-width: 320px;
      margin-top: -80px; /* Skubber billedet opad */
    }

    /* Badge lidt til venstre men stadig overlappende */
    .summer-lookbook__badge {
      position: absolute;
      margin-left: 150px;
      width: 150px;
    }

    /* Kasketmand med blå baggrund og centreret */
    .summer-lookbook__image--bottom {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      padding: 2rem 0;
    }

    .summer-lookbook__background {
      background-color: #a7d5f3;
      width: 100%;
      padding: 6rem 0;
      top: -30px;
      left: 0%;
    }

    .summer-lookbook__image--bottom img {
      max-width: 300px;
      margin-top: -40px; /* Skubber billedet 20px op */
    }
  }
</style>
