@font-face {
  font-family: "Cream Black";
  src: url("/fonts/Fontspring-DEMO-cream-black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cream Black", serif;
}

html {
  scroll-behavior: smooth;
}
